@use '../../variables.scss' as *;

.skill_container {
  max-width: 700px;
  margin: 0 auto;

  .skill_actions {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 1rem 0;

    .btn {
      padding: 6px 12px;
      border-radius: 2px;
      border: none;
      background-color: var(--btn-color);
      font-size: $font-sm;
      font-weight: 300;
      color: var(--text-color);
      cursor: pointer;
      transition: background-color 0.1s ease;

      &:hover {
        background-color: var(--btn-color-hover);
      }

      &.active {
        background-color: var(--color-primary);
        color: #fff;
      }
    }
  }

  .skill_logo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    justify-content: center;
    gap: 10px;
    margin-bottom: 3rem;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      padding: 8px;
      border-radius: 2px;
      background-color: var(--bg-color-soft);
      transition: 0.1s ease;

      .name {
        margin: 0;
        font-size: $font-sm;
        font-weight: 300;
      }

      @media (min-width: $desktop) {
        .name {
          font-size: $font-base;
        }
      }
    }
  }
}
