@use '../../variables.scss' as *;

.card {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 16px;
  border: 2px solid var(--border-color);
  border-radius: 2px;
  overflow: hidden;

  .img_container {
    height: 180px;
    width: 230px;
    border-radius: 2px;
    overflow: hidden;

    .img_cover {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      font-size: $font-lg;
      font-weight: 500;
    }

    .description {
      font-size: $font-md;
      line-height: 1.3;
      font-weight: 400;
    }

    .stack {
      font-size: $font-base;
      font-weight: 300;
    }

    .role {
      font-size: $font-base;
      font-weight: 300;
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      width: fit-content;
      padding: 6px 12px;
      border: 2px solid var(--color-primary);
      text-decoration: none;
      font-size: 14px;
      color: var(--color-primary);
      transition: 0.2s ease;

      &:hover {
        background-color: var(--color-primary);
        color: white;
      }

      .icon {
        font-size: 14px;
        transform: rotate(45deg);
        transition: 0.2s ease;
      }

      &:hover .icon {
        transform: rotate(90deg);
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    flex-direction: column;
    align-items: center;

    .img_container {
      width: 100%;
    }

    .body {
      .title {
        font-size: 18px;
      }

      .description {
        font-size: 14px;
      }
    }
  }
}
