.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  //background-color: #3681e3;
  min-height: 100dvh;
}

.col-span-1 {
  box-shadow: var(--shadow-color);
  background-color: var(--bg-color-soft);
  transition: background-color 0.1s ease;
}

.col-span-5 {
  //background-color: #936262;

  h4 {
    padding: 1rem;
    border-bottom: 3px solid var(--border-color);
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
  }
}