.grid {
  display: grid;
  grid-template-columns: 18rem 1fr;
  min-height: 100dvh;
}

.aside {
  box-shadow: var(--shadow-color);
  background-color: var(--bg-color-soft);
  pointer-events: auto;
  transition: background-color 0.1s ease;

  .btn-logout {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
}

.main {
  pointer-events: auto;

  h4 {
    padding: 1rem;
    border-bottom: 3px solid var(--border-color);
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
