.file_upload {
  position: relative;

  .label {
    position: absolute;
    top: -0.5rem;
    left: 0.75rem;
    font-size: 14px;
    padding: 0 0.15rem;
    background-color: var(--bg-color);
    color: var(--text-color-soft);
    font-weight: 500;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.75rem;
    border: 2px solid var(--border-color);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 2px;
    background-color: var(--bg-color-soft);
    transition: background-color, border 0.1s ease;
    cursor: pointer;

    &:hover {
      border: 2px solid var(--color-primary);
    }
  }

  .icon {
    color: var(--text-color);
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .helper {
    font-size: 12px;
    color: var(--text-color-soft);
  }

  .success {
    color: var(--color-success);
  }

  .input {
    display: none;
  }
}
