.sidebar {
  width: 100%;
  //overflow: auto;
}

.section_list {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

.section {
  margin-bottom: 0.25rem;
}

.section_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  //border-radius: 0.5rem;
  background-color: var(--bg-color-soft);
  //color: var(--text-color-soft);
  border: none;
  cursor: pointer;
}

.section_button:hover {
  //background: #111827;
}

.chevron {
  transition: transform 0.1s ease;
}

.chevron_open {
  transform: rotate(90deg);
}

.panel {
  overflow: hidden;
  display: grid;
  transition: grid-template-rows 0.2s ease;
  padding-left: 0.5rem;
}

.panel_open {
  grid-template-rows: 1fr;
}

.panel_closed {
  grid-template-rows: 0fr;
}

.item_list {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  border-left: 2px solid var(--color-primary);
  min-height: 0;
}

.item {
  margin: 0.125rem 0;
}

.navlink {
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.375rem;
  text-decoration: none;
  //color: #d1d5db;

  &:hover {
    background: #1f2937;
    //color: #fff;
  }
}



.active {
  //background: #4f46e5;
  //color: #fff;
}
