@use '../../variables.scss' as *;

.card {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color-soft);
  transition: 0.1s ease;

  .title {
    font-size: $font-lg;
    margin-bottom: 1rem;
    color: var(--color-primary);
    font-weight: 500;
  }

  .value {
    margin-top: 1rem;
    font-size: $font-sm;
  }

  @media (min-width: $mobile) {
    .value {
      font-size: $font-base;
    }
  }

  @media(max-width: $tablet) {
     width: 100%;
  }
}

.link {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.1s ease;
  cursor: pointer;
}
