.avatar_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #3681e3;
  padding: 1rem 0;

  .avatar {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    //background-color: #d6d6d6;

    .avatar_img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}