.section-projects {
  padding: 1rem 2rem;

  .title-section,
  .description-section {
    text-align: center;
    margin-bottom: 1rem;
  }
  .title-section {
    margin-top: 1rem;
    font-size: 28px;
  }

  .description-section {
    font-size: 16px;
    color: var(--color-text-secondary);
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .section-projects {
    .title-section {
      font-size: 22px;
    }

    .description-section {
      font-size: 14px;
    }
  }
}
