.projects-section {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    justify-content: center;
    align-items: start;
    gap: 1rem;
    margin-top: 2rem;
  }

  @media (max-width: 768px) {
    .card-container {
      grid-template-columns: 1fr;
    }
  }
}
