.navlink {
  display: block;
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  transition: background-color 0.1s ease, color 0.1s ease;

  &:hover {
    color: var(--text-color-soft);
  }
}