@use '../../variables.scss' as *;

.section {
  padding: 0.75rem 1.5rem;

  .title,
  .description {
    text-align: center;
    margin: 0.75rem 0;
    color: var(--text-color);
  }

  .title {
    font-size: $title-base;
  }

  .description {
    line-height: 1.4;
    font-size: $font-base;
  }

  @media (min-width: $mobile) {
    padding: 0.9rem 2rem;
  }

  @media (min-width: $tablet) {
    padding: 1rem 3rem;

    .title {
      font-size: $title-lg;
    }

    .description {
      font-size: $font-md;
    }
  }
}
