@use '../variables.scss' as *;

.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  &__col-left {
    h4 {
      margin-top: 1.5rem;
      font-weight: 300;
      font-size: $title-sm;
    }

    h2 {
      padding: 6px 0 10px 0;
      font-size: $title-xl;
    }

    p {
      font-size: $font-base;
      margin-bottom: 1.5rem;
      color: var(--text-color-soft);
      line-height: 1.3;
    }

    .action {
      display: flex;
      gap: 1rem;

      .action__btn {
        gap: 6px;
        padding: 10px 12px;
        font-size: $font-base;
        background-color: transparent;
        border: 2px solid var(--btn-color-hover);
        color: var(--text-color-soft);
        font-weight: 600;
        transition: 0.2s ease;

        &:hover {
          background-color: var(--btn-color-hover);
          color: var(--text-color);
        }
      }

      .action__btn--project {
        border: 2px solid var(--color-primary);
        color: var(--color-primary);

        &:hover {
          background-color: var(--color-primary);
          color: #fff;
        }

        .btn__icon--arrowUp {
          transform: rotate(45deg);
          transition: 0.2s ease;
        }

        &:hover .btn__icon--arrowUp {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__col-right {
    display: flex;
    justify-content: center;

    .logo-image {
      height: auto;
      width: 340px;
      object-fit: cover;
    }
  }

  @media (min-width: $mobile) {
    &__col-left {
      h4 {
        font-size: $title-md;
      }

      h2 {
        font-size: $title-2xl;
      }

      p {
        font-size: $font-base;
      }

      .action {
        .action__btn {
          padding: 12px 14px;
        }
      }
    }

    &__col-right {
      .logo-image {
        height: auto;
        width: 400px;
      }
    }
  }

  @media (min-width: $tablet) {
    grid-template-columns: 1fr;

    &__col-left {
      h4 {
        font-size: $title-lg;
      }

      h2 {
        font-size: $title-3xl;
      }

      p {
        font-size: $font-md;
      }

      .action {
        .action__btn {
          padding: 14px 16px;
        }
      }
    }

    &__col-right {
      .logo-image {
        height: auto;
        width: 470px;
      }
    }
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(2, 1fr);

    &__col-right {
      .logo-image {
        height: auto;
        width: 530px;
      }
    }
  }
}
