// breakpoints display sizes
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;

// font sizes paragraphs
$font-sm: 0.85rem;
$font-base: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;

// font sizes headings
$title-sm: 1.25rem;
$title-base: 1.5rem;
$title-md: 1.65rem;
$title-lg: 1.8rem;
$title-xl: 2rem;
$title-2xl: 2.5rem;
$title-3xl: 3rem;